*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #EBEBEB;
}

.header{
    width: 100%;
    background-color: #ffe600;
}

/* PRODUCTOS*/

.section{
    width: 90%;
}

.product {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.prod-text{
    margin-top: 0.1px;
    background-color: #fff;
}

/*FOOTER*/

.footer-ul{
    margin-top: 30px;
}

.footer-li{
    list-style: none;
    text-align: center;
}
