* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

/* Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ebebeb;

}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* CONFIGURO EL HEADER */

.header {
  background-color: #EAC926;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-items{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 130px;
}

.logo {
  width: 50%;
  margin: auto;
}

.search-bar{
  width: 50%;
  text-align: center;
  position: relative;
}

.search-bar form {
  width: 70%;
}

input[type=search] {
  width: 90%;
  border: 3px solid #fff;
  border-radius: 5px;
  padding: 8px 10px;
  text-align: left;

}

.search-bar i{
  position: absolute;
  right: 12%;
  top: 10px;
  background-color: #FFF;
  padding-left: 5px;
  border-radius: 5px;
  color: #666;
  cursor: pointer;
}

.header-title{
  text-align: center;
  font-size: 15px;
}

.nav-bar{
  display: none;

}

.header-ul{
  display: flex;
  align-content: center;
}

.ul-1 a, .ul-2 a{
  color: #000;
}

.menu-hambur{
  color: #fff;
  text-align: center;
  padding: 40px;
  margin: auto;
}

.menu-hambur i{
  font-size: 25px;
  background-color: #1259c3;
  padding: 10px;
  border-radius: 10%;
}

/* ESTILOS AL MAIN  */

.section{
  width: 90%;
  margin: auto;
}

.product{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0px 0px 0px #fff;
  transition: all .4s ease-in-out;
}

.prod-img{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.prod-title{
  font-size: 24px;
  margin: 15px;
  text-align: center;
  color: #666;

}

.prod-text{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  border-top: 1px solid #ebebeb;
  background-color: #fff;
  margin-bottom: 15px;
  padding-top: 15px;
}

.prod-i{
  display: flex;
justify-content: flex-end;  
width: 25%;
position: relative;
left: 40%;
}

.prod-i i{
  display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
border: 1px solid #39b54a;
color: #39b54a;
background-color: #FFF;
border-radius: 50%;
position: absolute;
left: 150%;
top: -15px;
transition: all .4s ease-in-out;

}


.prod-i i:hover{
  transform: rotate(360deg);
}

.prod-text-des{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  flex-shrink: 0;
  margin: auto;
}


.prod-precio{
  font-size: 18px;
  text-align: center;
}

.prod-desc{
  font-size: 16px;
  width: 50%;
  color: #39b54a;
  text-align: center;
}

.prod-descript{
  font-size: 16px;
  margin-top: 20px;
  text-align: left;
  width: 50%;
  color: #232323;
  transition: all .3s ease-in-out;

}

.product:hover{
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

/* LOGIN */

.login{
  height: 300px;
  margin-bottom: 80px;
}

.login form{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.login form input {
  text-align: left;
  width: 80%;
  margin: auto;
  padding: 15px 8px;
  margin-top: 50px;
  border-radius: 5px;
  background-color: #FFF;
  border: 1px solid #FFF;
}

.login form button {
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 15px 8px;
  margin-top: 50px;
  background-color: #1259c3;
  border: 1px solid #1259c3;
  color: #fff;
  border-radius: 5px;
}

.login a{
  text-decoration: none;
  color: #fff;
}

/* REGISTER  */

.register ul {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.register ul input {
  padding: 15px 8px;
  margin-top: 30px;
  border-radius: 5px;
  background-color: #FFF;
  border: 1px solid #FFF;
  width: 100%;
}

.register h4{
  margin-top: 30px;

}

.register-2-ul{
  display: flex;
  margin: auto;
  width: 90%;
  margin-top: 30px;
}

.register-2-ul label {
  margin-left: 10px;
}

.register-2-ul input{
  margin-left: 10px;
}


.register-2 h4{
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.register-3 h4{
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.register-ul{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.register-ul li{
  margin-top: 30px;
}

.register-ul li label{
  margin-left: 20px;
}

.register-4-ul{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.register-4-ul input {
  padding: 15px 8px;
  margin-top: 30px;
  border-radius: 5px;
  background-color: #FFF;
  border: 1px solid #FFF;
  width: 100%;

}

.register-4-ul #avatar {
  width: auto;
}

.register-4-ul h4 {
  margin-top: 30px;
}

.button{
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-top: 30px;
  margin-left: 5%;
}

.button button{
  font-size: 15px;
  color: #FFF;
  background-color: #1259c3;
  border: 1px solid #1259c3;
  cursor: pointer;
  text-align: center;
  padding: 10px 10px;
  color: #fff;
  border-radius: 5px;
}

.button button:hover{
  color: #1259c3;
  background-color: #fff;
  border: 1px solid #1259c3;
}


/* FOOTER  */

.footer{
  background-color: #fff;
  width: 100%;
  margin-top: 50px;
  padding-bottom: 60px;
}

.footer-li{
  text-align: center;
  margin: 50px;
  padding-top: 25px;
}

.footer-li i{
  font-size: 2em;
  margin-bottom: 10px;
  color: #1259c3;
  transition: all .4s ease-in-out;
}

.footer-li i:hover{
  color:#818181;
}

.footer-content{
  color: #666;
  font-size: 15px;
}

.footer-content p{
  font-size: 12px;
  width: 60%;
  margin: auto;
}


/* MEDIA QUERIS */

@media (min-width: 481px){

  .menu-hambur{
    display: none;
  }

  .header-items {
      width: 100%;
  }

  .logo{
    width: 33%;
  }

  .search-bar{
    width: 33%;
  }

  .header-title{
    width: 33%;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 80px;
  }

  .ul-1, .ul-2{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  .ul-1 a, .ul-2 a {
    margin-left: 10px;
  }

  .nav-bar div a{
    font-size: 14px;
  }

  /* PRODUCTOS  */

.prod-title{
  text-align: left;
  margin: 20px 0px;
}

.product{
  width: 48%;
}
.productos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  }

  .prod-descript{
    visibility: hidden;
  }

  .product:hover .prod-descript{
    visibility: visible;
    transition: all .5s ease-in-out;
  }
  

  .prod-i i{

    left: 140%;
}

  .button{
    width: 30%;
    justify-content: flex-start;
    gap: 20px;
  }

}



@media (min-width: 775px){

  .product{
    width: 24%;
  }
  .prod-i i{

    left: 150%;
}

.nav-bar div a{
  font-size: 16px;
}

.ul-1 a, .ul-2 a {
  margin-left: 15px;
}

.footer-ul{
  display: flex;
  flex-wrap: wrap;
}

.footer-li{
  width: 30%;
  margin: auto;
}

.img-baner{
  height: 150px;
  object-fit: cover;
}

.login {
  margin-bottom: 120px;
}

.login form{
  width: 70%;
}
.button{
  width: 20%;
}
}