<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH HEROES</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
<header class="header">
    <img src="images/logo-mercado-liebre.svg" alt="logo">
    <div>Lugar para poner barra de búsqueda</div>
    <div>Comprá en cuotas y sin tarjeta de crédito</div>
    <nav>
    <ul>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
    </ul>
    <ul>
        <li><a href="#">Creá tu cuenta</a></li>
        <li><a href="#">Ingresá</a></li>
        <li><a href="#">Mis compras</a></li>
    </ul>
</nav>
</header>
<main>
    <img height="90px" width="100%" src="images/img-home-banner.jpg" alt="Banner">
    <section class="section">
        <h2>Basado en tu última visita</h2>
        <div class="product">
        <img width="100%" src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
        <div class="prod-text">
        <p>$6.770</p>
        <p>40% off</p>
        <h3>Cafetera Moulinex</h3>
        </div>
        </div>
        <div class="product">
        <img width="100%" src="images/img-macbook-pro-2019.jpg" alt="MackBook Pro 2019">
        <div class="prod-text">
        <p>$230.000</p>
        <p>20% off</p>
        <h3>MackBook Pro 2019</h3>
        </div>
        </div>
        <div class="product">
        <img width="100%" src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
        <div class="prod-text">
        <p>$70.500</p>
        <p>10% off</p>
        <h3>Samsung Galaxy S10</h3>
        </div>
        </div>
        <div class="product">
        <img width="100%" src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 40">
        <div class="prod-text">
        <p>$23.200</p>
        <p>5% off</p>
        <h3>SmartTv Samsung 40"</h3>
        </div>
        </div>
    </section>
    <section class="section">
        <h2>Sección de Ofertas</h2>
        <div class="product">
        <img width="100%" src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
        <div class="prod-text">
        <p>$6.770</p>
        <p>40% off</p>
        <h3>Cafetera Moulinex</h3>
        </div>
        </div>
        <div class="product">
        <img width="100%" src="images/img-macbook-pro-2019.jpg" alt="MackBook Pro 2019">
        <div class="prod-text">
        <p>$230.000</p>
        <p>20% off</p>
        <h3>MackBook Pro 2019</h3>
        </div>  
        </div>
        <div class="product">
        <img width="100%" src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
        <div class="prod-text">
        <p>$70.500</p>
        <p>10% off</p>
        <h3>Samsung Galaxy S10</h3>
        </div>
        </div>
        <div class="product">
        <img width="350px" src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 40">
        <div class="prod-text">
        <p>$23.200</p>
        <p>5% off</p>
        <h3>SmartTv Samsung 40"</h3>
        </div>
        </div>
    </section>
</main>
<footer>
<div>
    <ul style="list-style: none;">
        <li>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </li>
        <li>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </li>
        <li>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </li>
        <li><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></li>
    </ul>
</div>
</footer>
</body>
</html>